main{
  background-color: antiquewhite;
  padding-left: 1em;
  font-family: sans-serif;
}

h1{
  color: darkred;
  text-shadow: 2px 2px 5px #81c784;
}
h2{
  color:darkcyan;
  text-shadow: 2px 2px 5px #81c784;
}

div{
  color: darkred;
  font-size: 1.5em;
  font-weight: bolder;
}

a{
  color: #0288D1;
  font-weight: bolder;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}


